In [1]:
import pandas as pd

In [2]:
csvfile=pd.read_csv("zones.csv")

In [3]:
csvfile

                     District                        State        Zone
0              South Andamans  Andaman And Nicobar Islands    Red Zone
1                    Nicobars  Andaman And Nicobar Islands  Green Zone
2    North And Middle Andaman  Andaman And Nicobar Islands  Green Zone
3                     Kurnool               Andhra Pradesh    Red Zone
4                      Guntur               Andhra Pradesh    Red Zone
..                        ...                          ...         ...
728                Coochbehar                  West Bengal  Green Zone
729          Dinajpur Dakshin                  West Bengal  Green Zone
730                   Purulia                  West Bengal  Green Zone
731                Alipurduar                  West Bengal  Green Zone
732                  Jhargram                  West Bengal  Green Zone

[733 rows x 3 columns]

In [4]:
grouped=csvfile.groupby(['State','Zone']).count()

In [5]:
grouped

                                         District
State                       Zone
Andaman And Nicobar Islands Green Zone          2
                            Red Zone            1
Andhra Pradesh              Green Zone          1
                            Orange Zone         7
                            Red Zone            5
...                                           ...
Uttarakhand                 Orange Zone         2
                            Red Zone            1
West Bengal                 Green Zone          8
                            Orange Zone         5
                            Red Zone           10

[81 rows x 1 columns]

In [6]:
df=pd.DataFrame()

In [7]:
df1=csvfile.groupby('State')['Zone'].value_counts()

In [8]:
df2=pd.DataFrame(df1)

In [9]:
dfff=pd.DataFrame({'count' : csvfile.groupby( [ "State", "Zone"] ).size()}).reset_index()

In [10]:
dfff

                          State         Zone  count
0   Andaman And Nicobar Islands   Green Zone      2
1   Andaman And Nicobar Islands     Red Zone      1
2                Andhra Pradesh   Green Zone      1
3                Andhra Pradesh  Orange Zone      7
4                Andhra Pradesh     Red Zone      5
..                          ...          ...    ...
76                  Uttarakhand  Orange Zone      2
77                  Uttarakhand     Red Zone      1
78                  West Bengal   Green Zone      8
79                  West Bengal  Orange Zone      5
80                  West Bengal     Red Zone     10

[81 rows x 3 columns]

In [11]:
df3=pd.DataFrame()

In [12]:
df3['State']=csvfile['State'].unique().tolist()

In [13]:
df3['Green']=0
df3['Orange']=0
df3['Red']=0

In [14]:
df3['State'].unique().tolist()

['Andaman And Nicobar Islands',
 'Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Chandigarh',
 'Chhattisgarh',
 'Dadra And Nagar Haveli',
 'Daman And Diu',
 'Delhi',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Jammu And Kashmir',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Ladakh',
 'Lakshadweep',
 'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Odisha',
 'Puducherry',
 'Punjab',
 'Rajasthan',
 'Sikkim',
 'Tamil Nadu',
 'Telengana',
 'Tripura',
 'Uttar Pradesh',
 'Uttarakhand',
 'West Bengal']

In [15]:
df3.set_index("State", inplace=True)

In [16]:
for index, row in dfff.iterrows():
    if(row['Zone']=="Green Zone"):
        df3.loc[row['State']].Green=row['count']
    if(row['Zone']=="Orange Zone"):
        df3.loc[row['State']].Orange=row['count']
    if(row['Zone']=="Red Zone"):
        df3.loc[row['State']].Red=row['count']

In [17]:
negreen=df3.loc['Arunachal Pradesh'].Green+df3.loc['Assam'].Green+df3.loc['Manipur'].Green+df3.loc['Nagaland'].Green+df3.loc['Sikkim'].Green+df3.loc['Tripura'].Green+df3.loc['Meghalaya'].Green+df3.loc['Mizoram'].Green
neRed=df3.loc['Arunachal Pradesh'].Red+df3.loc['Assam'].Red+df3.loc['Manipur'].Red+df3.loc['Nagaland'].Red+df3.loc['Sikkim'].Red+df3.loc['Tripura'].Red+df3.loc['Meghalaya'].Red+df3.loc['Mizoram'].Red
neOrange=df3.loc['Arunachal Pradesh'].Orange+df3.loc['Assam'].Orange+df3.loc['Manipur'].Orange+df3.loc['Nagaland'].Orange+df3.loc['Sikkim'].Orange+df3.loc['Tripura'].Orange+df3.loc['Meghalaya'].Orange+df3.loc['Mizoram'].Orange

In [18]:
jkgreen=df3.loc['Ladakh'].Green+df3.loc['Jammu And Kashmir'].Green
jkOrange=df3.loc['Ladakh'].Orange+df3.loc['Jammu And Kashmir'].Orange
jkRed=df3.loc['Ladakh'].Red+df3.loc['Jammu And Kashmir'].Red

In [19]:
df3.drop(['Arunachal Pradesh', 'Assam','Manipur','Nagaland','Sikkim','Tripura','Meghalaya','Mizoram','Chandigarh','Lakshadweep','Daman And Diu','Dadra And Nagar Haveli','Puducherry','Ladakh','Jammu And Kashmir'],inplace=True)

In [20]:
ljk = pd.DataFrame({"State":['J and K','NorthEast'],"Green":[jkgreen,negreen], 
                    "Orange":[jkOrange,neOrange],
                    "Red":[jkRed,neRed]})

In [21]:
ddd=pd.DataFrame(ljk)

In [22]:
df3=df3.reset_index()

In [23]:
dddd=df3.append(ddd)

In [24]:
dddd=dddd.sort_values(by =['State'])

In [25]:
dddd

                          State  Green  Orange  Red
0   Andaman And Nicobar Islands      2       0    1
1                Andhra Pradesh      1       7    5
2                         Bihar     13      20    5
3                  Chhattisgarh     25       1    1
4                         Delhi      0       0   11
5                           Goa      2       0    0
6                       Gujarat      5      19    9
7                       Haryana      2      18    2
8              Himachal Pradesh      6       6    0
0                       J and K      4      14    4
9                     Jharkhand     14       9    1
10                    Karnataka     14      13    3
11                       Kerala      2      10    2
12               Madhya Pradesh     24      19    9
13                  Maharashtra      6      16   14
1                     NorthEast    113       6    0
14                       Odisha     21       6    3
15                       Punjab      4      15    3
16                    Rajasthan      6      19    8
17                   Tamil Nadu      1      24   12
18                    Telengana      9      18    6
19                Uttar Pradesh     20      36   19
20                  Uttarakhand     10       2    1
21                  West Bengal      8       5   10

In [26]:
dddd.to_csv("../zones.txt",header=False,index=False)